@namespace JiiLib.Components
@using JiiLib.Collections
@using JiiLib.Components.Diff

@if (DiffList is null)
{

    @*<div class="spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
        <span>No table loaded (id: @ListId)</span>
    </div>*@

}
else
{
    <table class="table-bordered border-dark rounded">
        <thead>
            <tr class="border-bottom">
                <th colspan="3" style="text-align: center">@Title</th>
            </tr>
        </thead>
        <tbody class="diff-list">
            @foreach (var (key, o, n) in DiffList)
            {
                var ds = DiffValue.GetDiffState(o, n);
                if (ds != DiffState.NonExistent)
                {
                    <tr class="@GetDiffClass(ds)">
                        <td class="item-type">
                            <strong>@key</strong>
                        </td>
                        <td class="old-item">
                            <DiffValueCell DValue="o"/>
                        </td>
                        <td class="new-item">
                            <DiffValueCell DValue="n"/>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code
{
    [Parameter] public KeyedDiffList<string>? DiffList { private get; set; }
    [Parameter] public string Title { private get; set; } = "";

    private static string GetDiffClass(DiffState diffState)
        => diffState switch
        {
            DiffState.New     => "diff-new",
            DiffState.Changed => "diff-changed",
            DiffState.Removed => "diff-removed",
            _ => "diff-unchanged"
        };
}
