.diff-table {
    td {
        padding: 5px;
        min-width: 10em;
    }

    .diff-new {
        background-color: lightgreen;
    }

    .diff-changed {
        background-color: sandybrown;
    }

    .diff-removed {
        background-color: lightcoral;
    }
}
