@namespace JiiLib.Components
@using JiiLib.Collections.DiffList
@using JiiLib.Components.Diff

@if (DiffList is not null)
{
    <table class="diff-table">
        <thead>
            <tr class="diff-table-title">
                <th colspan="3" style="text-align: center">@Title</th>
            </tr>
        </thead>
        <tbody class="diff-table-content">
            @foreach (var pair in DiffList)
            {
                @* There's pretty much no reason to *not* use '@key',
                   just in case some behavior changes in the future. *@
                <DiffValueRow Pair="pair" @key="pair.Key"/>
            }
        </tbody>
    </table>
}

@code
{
    /// <summary>
    ///     Sets the list of content that this table is to display
    /// </summary>
    [Parameter] public KeyedDiffList<string>? DiffList { private get; init; }

    /// <summary>
    ///     Sets the title to display in the table header.
    /// </summary>
    [Parameter] public string Title { private get; init; } = "";
}
