@namespace JiiLib.Components.Diff
@using JiiLib.Collections.DiffList

@{ var style = Style ?? IDiffTableStyle.Default;}
@if (DValue is null) { }
else if (DValue.IsSingleValue)
{
    <div class="diff-value @style.DiffValueClass">
        @DValue.Value
    </div>
}
else
{
    @foreach (var subValue in DValue.Values)
    {
        <div class="diff-value @style.DiffValueClass">
            @subValue
        </div>
    }
}

@code
{
    [Parameter] public DiffValue? DValue { private get; set; }

    [CascadingParameter] public IDiffTableStyle? Style { private get; set; }
}
