@namespace JiiLib.Components.Diff
@using JiiLib.Collections.DiffList

@inject IDiffListRepository Repo

@if (_rendered)
{
    @if (_diffList is null)
    {
        <div class="error">
            <span class="error-text">
                Sorry, that list could not be found.
            </span>
        </div>
    }
    else
    {
        <DiffTable Title="@Title" DiffList="@_diffList" />
    }
}
else
{
    <div class="spinner"/>
}

@code
{
    [Parameter] public string Title { private get; init; } = "";
    [Parameter] public string? ListId { private get; init; }

    private KeyedDiffList<string>? _diffList;
    private bool _rendered;

    protected override async Task OnParametersSetAsync()
    {
        if (_diffList is { })
            return;

        if (ListId is { } id)
        {
            _diffList = await Repo.GetListAsync(id);
        }
    }

    protected override bool ShouldRender() => false;
    protected override void OnAfterRender(bool firstRender) => _rendered = true;
}
