@namespace JiiLib.Components

<div class="collapsable-box">
    <div class="title" @onclick="ToggleCollapse">
        <span class="chev oi @ArrowStatus iconic-sm" aria-hidden="true"></span>
        <span>@Title @ClickStatus</span>
    </div>
    <div class="content @DisplayStatus" @ref="_content">
        @ChildContent
    </div>
</div>

@code
{
    /// <summary>
    ///     Sets the title to appear in the top of the box.
    /// </summary>
    [Parameter] public string Title { private get; set; } = String.Empty;

    /// <summary>
    ///     Sets wether or not to start this box as collapsed.
    ///     Default is <see langword="false"/>.
    /// </summary>
    [Parameter] public bool StartCollapsed { set => _isCollapsed = value; }

    /// <summary>
    ///     Sets the content to render inside the box.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { private get; set; }


    private ElementReference _content;
    private bool _isCollapsed = false;
    private string? DisplayStatus => _isCollapsed ? "collapse" : null;
    private string ClickStatus => _isCollapsed ? "(Click to reveal)" : "(Click to collapse)";
    private string ArrowStatus => _isCollapsed ? "oi-chevron-right" : "oi-chevron-bottom";
    
    private void ToggleCollapse()
    {
        _isCollapsed = !_isCollapsed;
    }
}